@model IEnumerable<MvcVeve.Models.Horaire>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Horaire";
}
<br/>
<div class="page bg-dark"><br/><br/><br/><br/><h1 class="text-center text-white titre" >CONTACT</h1><br/><br/><br/><br/></div>
<br/>
<div class="row bg-secondary">
    <div class="col page m-3" style="height:50%"><br/><br/><h2 class="titre">Adresse</h2><br/><br/>
        <p class="container text-center">491 Avenue de la Pomme, <br/>
        13 750 Plan-d'Orgon</p><br/>
    </div>
    <div class="col page m-3" style="height:50%"><img src="../../images/map.png" class="d-block w-100 center img-fluid"> </div>
</div>
<br/><br/><br/><br/><br/>
<div class="page container text-center">
    <br/><br/><br/><h2 class="titre">Nos Horaires :</h2><br/>
        <p class="container text-center">  
            @foreach (var item in Model)
{
            <p>Du lundi au jeudi :  @Html.DisplayFor(modelItem => item.HeureDebut) à @Html.DisplayFor(modelItem => item.HeureFin)</p>
            @* <p>Fermé : @Html.DisplayFor(modelItem => item.JourOff)</p> => optionnel car c'est encore en discussion avec l'entreprisxe, n'est pas sur de le garder*@
            <p>En vacance :  @Html.DisplayFor(modelItem => item.Vacances)</p>
        <br/>
        <div>
    @if (SignInManager.IsSignedIn(User))
  {
    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger container" style="margin-top:10px" > Modifier</a><br/><br/>
    }</div>
            }
        </p><br/><br/>
        <br/><h2 class="titre">Numéro :</h2><br/>
        <p class="container text-center" style="font-size:x-large">
            04 90 73 19 77
        </p><br/><br/><br/>
</div>